body{
    background: #eceef4;
    counter-reset: section;
}


/*HEADER*/
.header{
    width: 100%;
    max-width: 1280px;
    padding: 3em 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.header__logo{
    width: 100%;
    max-width: 100px;
}
@media screen and (max-width: 1320px),(min-resolution:270dpi){
    .header{
        padding: 3em 0.5em;
    }
}
@media screen and (max-width: 560px),(min-resolution:270dpi){
    .header{
        padding: 1em 0.5em;
        flex-direction: column;
    }
    .header__logo{
        width: 100%;
        max-width: 140px;
        margin: 1em;
    }
}






/*MAIN*/
.main__wrapper{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6em;
    background: #fff;
    border: 1px solid #c9d0e1;
    border-radius: 3px;
    color: #6e768f;
}
.main__wrapper-head{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-bottom: 1px solid #c9d0e1;
}
@media screen and (max-width: 860px),(min-resolution:270dpi){
    .main__wrapper-head{
        flex-direction: column;
        padding: 1.5em;
        align-items: center;
    }

    .main__wrapper-head-buttons{
        max-width: 260px;
    }
}
.main__wrapper-head-title{
    text-transform: uppercase;
    font-size: 110%;
    font-weight: 700;
}
.main__wrapper-head-stat{
    padding: 1em;
}
.main__wrapper-head-stat ul li{
    display: inline-block;
    margin-top: 1em;
    margin-left: 4em;
}
.main__wrapper-head-stat ul li span:nth-child(1){
    display: block;
    font-weight: 700;
    text-transform: uppercase;
}
.main__wrapper-head-stat ul li span:nth-child(2){
    color: #a5abc5;
}
.main__wrapper-head-buttons{
    padding: 1em;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #c9d0e1;
}
.main__wrapper-head-buttons .button:nth-child(2){
    margin-top: 1em;
}
.main__wrapper-head-text{
    max-width: 265px;
    font-size: 90%;
    margin: 0 1em;
    padding: 1em;
    position: relative;
}
@media screen and (max-width: 1260px),(min-resolution:270dpi){
    .main__wrapper-head-text{
        max-width: none;
        margin: 1em 1em;
    }
    .main__wrapper-head-buttons{
        border-right: none;
    }
}
.main__wrapper-head-text h3{
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 0.2em
}
.main__wrapper-head-text p, address{
    margin-top: 0.5em;
}
.main__wrapper-head-text a{
    text-decoration: none;
    color: #6e768f;
    font-weight: 700;
}
.main__wrapper-head-text a:hover{
    text-decoration: underline;
}
.main__wrapper-head-text:before{
    font-family: Font Awesome\ 5 Free;
    content: "\f1cd";
    position: absolute;
    top: 0;
    font-size: 130%;
    left: -1.5em;
    top: 0.8em;
}








/*Top block*/
.main__top-options{
    padding: 5em 1.5em 3em 1.5em;
}
.main__top-options h2{
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}
.main__top-options h2 span{
    border-bottom: 1px solid #c9d0e1;
    padding-bottom: 5px;
}
.main__top-options .radio_wrapper{
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    margin-top: 3em;
    display: flex;
    justify-content: space-between;
}
.main__top-options .radio_wrapper div{
    background: #f7f7fa;
    border: 1px solid #c9d0e1;
    width: 30%;
    border-radius: 5px;
}
.main__top-options .radio_wrapper div label{
    padding: 2em 0;
}
.main__top-options .radio_wrapper img{
    max-width: 85px;
}
.main__top-options .radio_wrapper span:nth-child(2){
    font-weight: 700;
}
@media screen and (max-width: 840px),(min-resolution:270dpi){
    .main__top-options .radio_wrapper{
        flex-direction: column;
        align-items: center;
    }

    .main__top-options .radio_wrapper div{
        margin-top: 1em;
        width: 50%;
    }
}
@media screen and (max-width: 640px),(min-resolution:270dpi){
    .main__top-options .radio_wrapper div{
        width: 100%;
    }
}



/*upload block*/
.content__wrapper-outer{
    padding: 0 5em;
}
.content__wrapper-half-box{
    max-width: 980px;
    margin: 0 auto;
}
.content__wrapper-half .content__wrapper{
    max-width: none;
    display: inline-block;
    width: 49.5%;
    vertical-align: top;
}
.content__wrapper{
    position: relative;
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    margin-top: 4em;
    margin-bottom: 4em;
}
.content__wrapper h2{
    font-size: 135%;
    font-weight: 700;
}
.content__wrapper h2 span{
    font-size: 75%;
    font-weight: 400;
}
.content__wrapper .upload_wrapper{
    position: relative;
    max-width: 230px;
    text-align: center;
    border: 1px solid #c9d0e1;
    background: #f7f7fa;
    margin-top: 2em;
    padding: 1em 1em;
    font-weight: 700;
    border-radius: 3px;
    transition: all ease-out 0.2s;
    color: #9098b8;
}
.content__wrapper .upload_wrapper:hover{
    opacity: 0.6;
}
.content__wrapper .upload_wrapper input[type="file"]{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.content__wrapper .upload_list{
    border: 1px solid #e6e8ee;
    margin-top: 2em;
    padding: 2em;
    border-radius: 3px;
    color: #a5abc5;
}
.content__wrapper .upload_list table{
    width: 100%;
}
.content__wrapper .upload_list table th{
    text-transform: uppercase;
    font-weight: 700;
}
.content__wrapper .upload_list table th:not(:last-child){
    text-align: left;
}
.content__wrapper .upload_list table td,th{
    padding: 0.5em;
}
.content__wrapper .upload_list table td:last-child{
    text-align: center;
}
.content__wrapper .upload_list table td .fas{
    padding: 0 1em 0 0;
}

.content__wrapper .upload_list table td .fa-trash{
    padding: 0;
}
.content__wrapper:before{
    counter-increment: section;
    content: counter(section);
    border: 1px solid #6e768f;
    color: #6e768f;
    font-weight: 700;
    font-size: 150%;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    position: absolute;
    left: -70px;
    top: -11px;
}
@media screen and (max-width: 1200px),(min-resolution:270dpi){
    .content__wrapper:before{
        width: 30px;
        height: 30px;
        border-radius: 15px;
        left: -40px;
        top: -2px;
    }
    .content__wrapper-outer{
        padding: 0 3em;
    }
    .content__wrapper-half .content__wrapper{
        display: block;
        width: 100%;
    }
}
@media screen and (max-width: 800px),(min-resolution:270dpi){
    .content__wrapper .upload_list{
        padding: 2em 0.5em;
        font-size: 80%;
    }
}
@media screen and (max-width: 560px),(min-resolution:270dpi){
    .content__wrapper:before{
        width: 30px;
        height: 30px;
        border-radius: 15px;
        left: 0.5em;
        top: -1em;
    }
    .content__wrapper{
        padding: 1em;
    }
    .content__wrapper-outer{
        padding: 0 1em;
    }
    .content__wrapper .upload_list table{
        overflow-x: auto;
		display: block;
    }
    .content__wrapper .upload_list table td,th{
        padding: 0.2em;
    }
    .content__wrapper .upload_list table td:first-child{
        min-width: 180px;
    }
}



/*language block*/
.content__wrapper .flex_row-start{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 2em;
}
.content__wrapper-language p{
    text-transform: uppercase;
    font-weight: 700;
    width: 3em;
    text-align: right;
}
.content__wrapper-language .select-container{
    margin: 0 0 0 1em;
    transition: all ease-out 0.2s;
}
.content__wrapper-language i{
    color: #9098b7;
}
.content__wrapper-language .button__bordered{
    margin: 0 0 0 2em;
}
@media screen and (max-width: 760px),(min-resolution:270dpi){
    .content__wrapper .flex_row-start{
        justify-content: center;
        margin-top: 0em;
    }
    .content__wrapper-language .select-container{
        margin: 0.5em 0 0em 0.5em;
    }
    .content__wrapper-language button{
        margin: 0.5em 0 0 0em;
    }
}
@media screen and (max-width: 400px),(min-resolution:270dpi){
    .content__wrapper-language p{
        margin-right: 1em;
    }
    .content__wrapper .flex_row-start{
        justify-content: flex-start;
        margin-top: 0em;
    }
    .content__wrapper-language .select-container{
        margin-left: 0;
    }
} 


/*tone block*/
.content__wrapper .tone__wrapper{
    display: flex;
    flex-direction: column;
    padding: 0 1em 0 0;
    margin: 1em 0 0 0;
    align-items: left;
}
.content__wrapper .tone__wrapper div{
    background: #f7f7fa;
    border: 1px solid #c9d0e1;
    border-radius: 5px;
    margin-top: 1em;
    height: 4em;
    min-width: 260px;
    color: #9098b8;
}
.content__wrapper .tone__wrapper .radio_custom label{
    flex-direction: row;
}
@media screen and (max-width: 1200px),(min-resolution:270dpi){
    .content__wrapper .tone__wrapper{
        align-items: center;
        padding: 0;
    }
}


/*range block*/
.content__wrapper .range__wrapper{
    margin-top: 1em;
    text-align: center;
}
.content__wrapper .range__wrapper ul{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 0.5em;
    color: #a5abc5;
}
.content__wrapper .range__wrapper fieldset{
    margin-top: 2em;
}
.content__wrapper .range__wrapper legend{
    text-align: left;
    padding: 1em 3em;
    margin-top: 2em;
    border: 1px solid #e6e8ee;
    position: relative;
    max-width: 500px;
}
.content__wrapper .range__wrapper legend .legend-title{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 90%;
}
.content__wrapper .range__wrapper legend .legend-text{
    display: block;
    font-size: 95%;
    margin-top: 1em;
    color: #aea5b8;
}
.content__wrapper .range__wrapper legend i{
    position: absolute;
    left: 1.5em;
    top: 18px;
}



/*bottom form block*/
.content__wrapper .content__bottom{
    margin: 1em 0 0 0;
}
.content__wrapper .content__bottom p:not(.title){
    padding: 1em 0;
    color: #9fa5b8;
}
.content__wrapper .content__bottom p a{
    padding: 1em 0;
    color: #9fa5b8;
}
.content__wrapper .content__bottom .flex_row-start{
    display: flex;
    justify-content: flex-start;
}
.content__wrapper .content__bottom .flex_row-end{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 4em;
    flex-wrap: wrap;
}
.content__wrapper .content__bottom .flex_row-end label[for="agree"] a{
    color: #6e768f;
}
.content__wrapper .content__bottom .flex_row-end .button__green{
    margin: 0 1em;
}
@media screen and (max-width: 760px),(min-resolution:270dpi){
    .content__wrapper .content__bottom .flex_row-end{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .content__wrapper .content__bottom .flex_row-end .button__green{
        margin: 1em 0;
    }
}
.content__wrapper .content__bottom .flex_row-start .title{
    display: block;
    font-size: 85%;
    margin-left: 0.5em;
    text-transform: uppercase;
    font-weight: 700;
    color: #a5abc5;
}
.content__wrapper .content__bottom .flex_row-start div{
    margin: 0 1em 0 0;
}
.content__wrapper .content__bottom .flex_row-start input:not([type="radio"]){
    color: #6e768f;
    border: 1px solid #d7d9e0;
    border-radius: 3px;
    padding: 0.5em 2.5em 0.5em 1em;
}
.content__wrapper .content__bottom .flex_row-start
input:not([type="radio"])+label{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
.content__wrapper .content__bottom .flex_row-start
input:not([type="radio"]):valid+label:before{
    font-family: Font Awesome\ 5 Free;
    background: #76a7e1;
    color: #fff;
    content: "\f058";
    position: absolute;
    top: -30px;
    right: 5px;
    font-size: 100%;
    width: 15px;
    padding: 0 3px;
    border-radius: 100%;
    text-align: center;
}
.content__wrapper .content__bottom .flex_row-start
input:not([type="radio"]):invalid+label:before{
    font-family: Font Awesome\ 5 Free;
    background: red;
    color: #fff;
    content: "\f057";
    position: absolute;
    top: -30px;
    right: 5px;
    font-size: 100%;
    width: 15px;
    padding: 0 3px;
    border-radius: 100%;
    text-align: center;
}
.content__wrapper .content__bottom .flex_row-start
#card+label:before{
    font-family: Font Awesome\ 5 Free;
    color: #d7d9e0;
    content: "\f09d";
    background: none;
    position: absolute;
    top: -32px;
    right: 5px;
    font-size: 110%;
    width: 30px;
    padding: 0 3px;
    border-radius: 100%;
    text-align: center;
}
.content__wrapper .content__bottom .flex_row-start #card{
    min-width: 260px;
}
.content__wrapper .content__bottom .flex_row-start #expiery{
    text-align: center;
    letter-spacing: 2px;
    padding: 0.5em 1em;
    max-width: 180px;
}
.content__wrapper .content__bottom .flex_row-start #code{
    text-align: center;
    padding: 0.5em 2em;
    max-width: 140px;
}
.content__wrapper .content__bottom .flex_row-start, #expiery+label:before, #code+label:before{
    content: ''
}
.content__wrapper .content__bottom .flex_row-start input[type="password"]{
    font-weight: 700;
    letter-spacing: 5px;
}
.content__wrapper .content__bottom .flex_row-start .radio_custom{
    background: #f7f7fa;
    border: 1px solid #c9d0e1;
    width: 20%;
    border-radius: 5px;
}
.content__wrapper .content__bottom .flex_row-start .radio_custom label{
    padding: 1.5em 0;
}
.content__wrapper .content__bottom .flex_row-start .radio_custom img{
    max-height: 30px;
}
@media screen and (max-width: 960px),(min-resolution:270dpi){
    .content__wrapper .content__bottom .flex_row-start{
        justify-content: center;
        flex-wrap: wrap;
    }
    .content__wrapper .content__bottom .flex_row-start .radio_custom{
        width: 80%;
        margin-top: 1em;
    }
    .content__wrapper .content__bottom .flex_row-start div{
        margin: 0 0 0 1em;
    }
}
@media screen and (max-width: 760px),(min-resolution:270dpi){
    .content__wrapper .content__bottom .flex_row-start{
        flex-direction: column;
    }
    .content__wrapper .content__bottom .flex_row-start div{
        margin: 1em 0 0 0;
    }
}


/*footer*/
.footer{
    background: #444a62;
    font: 90%/1.4 'Proxima Nova', Georgia, sans-serif;
    color: #c6ccea;
}
.footer a{
    color: #c6ccea;
    text-decoration: none;
}
.footer__wrapper{
    max-width: 1280px;
    margin: 0 auto;
    padding: 3em;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.footer__wrapper img{
    max-width: 100px;
}
.footer__wrapper div{
    width: 25%;
    position: relative;
}
.footer__wrapper i{
    position: absolute;
    left: -2em;
    font-size: 125%;
}
.footer__wrapper .social-list{
    margin-left: 2em;
}
.footer__wrapper ul li{
    position: relative;
    margin-top: 0.5em;
}
.footer__wrapper ul li i{
    position: absolute;
    font-size: 100%; 
    left: -2em;
    background: #b3b9d7;
    color: #444a62;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__wrapper div p{
    font-style: italic;
}
.footer__wrapper h3{
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 0 1em 0;
}
@media screen and (max-width: 960px),(min-resolution:270dpi){
    .footer__wrapper{
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .footer__wrapper div{
        width: 50%;
        margin-bottom: 2em;
    }
}
@media screen and (max-width: 560px),(min-resolution:270dpi){
    .footer__wrapper div{
        width: 90%;
    }
}