/* line 1, ../sass/buttons.sass */
.button {
  padding: 1em 2em;
  text-transform: uppercase;
  font-weight: 700;
  background: none;
  border: none;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  position: relative;
}
/* line 11, ../sass/buttons.sass */
.button i {
  margin: 0 0.5em 0 0;
}
/* line 13, ../sass/buttons.sass */
.button:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
/* line 15, ../sass/buttons.sass */
.button--stripe {
  overflow: hidden;
  color: #fff;
}
/* line 18, ../sass/buttons.sass */
.button--stripe::before {
  background: linear-gradient(to right, #067500 0%, #067500 50%, #034000 50%, #034000 100%);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  z-index: -2;
  transition: 0.3s ease-in-out;
}
/* line 28, ../sass/buttons.sass */
.button--stripe::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 80px 80px;
  border-color: transparent transparent #034000 transparent;
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
/* line 40, ../sass/buttons.sass */
.button--stripe:hover {
  color: #fff;
}
/* line 42, ../sass/buttons.sass */
.button--stripe:hover::before {
  border-top-color: #1a70ff;
  border-right-color: #1a70ff;
  margin-left: -100%;
  transition: 0.3s ease-in-out;
  width: 200%;
  height: 100%;
}
/* line 49, ../sass/buttons.sass */
.button--stripe:hover::after {
  right: 100%;
  transition: 0.3s ease-in-out;
  width: 0;
  height: 0;
}
