/* line 1, ../sass/footer.sass */
footer {
  padding: 2em 1em;
  background: #24292e;
  width: 100%;
  color: rgba(255, 255, 255, 0.75);
  font-size: 90%;
}
/* line 7, ../sass/footer.sass */
footer .container {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* line 14, ../sass/footer.sass */
footer a {
  color: #ffffff;
  text-decoration: none;
}
/* line 17, ../sass/footer.sass */
footer a:hover {
  text-decoration: underline;
  color: #d2d2d2;
}
@media screen and (max-width: 800px), (min-resolution: 270dpi) {
  /* line 21, ../sass/footer.sass */
  footer span:nth-child(2) {
    margin-top: 1em;
  }
}
@media screen and (max-width: 800px), (min-resolution: 270dpi) {
  /* line 1, ../sass/footer.sass */
  footer {
    flex-direction: column;
  }
}
