/* line 1, ../sass/helpers.sass */
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* line 5, ../sass/helpers.sass */
.fas {
  padding: 0 0.5em;
}

/* line 8, ../sass/helpers.sass */
body {
  background: #fff6da;
}

/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
/* line 16, ../sass/helpers.sass */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 36, ../sass/helpers.sass */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 40, ../sass/helpers.sass */
body {
  line-height: 1;
}

/* line 43, ../sass/helpers.sass */
ol, ul {
  list-style: none;
}

/* line 46, ../sass/helpers.sass */
blockquote, q {
  quotes: none;
}

/* line 49, ../sass/helpers.sass */
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

/* line 54, ../sass/helpers.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, ../sass/header.sass */
header {
  background: linear-gradient(to right, #e65c00, #f9d423);
  padding: 0.5em;
}
/* line 4, ../sass/header.sass */
header .container {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* line 11, ../sass/header.sass */
header .time {
  padding: 0.3em 0.5em;
  color: #fff;
  font-size: 18px;
}
@media screen and (max-width: 480px), (min-resolution: 270dpi) {
  /* line 11, ../sass/header.sass */
  header .time {
    order: 2;
  }
}
@media screen and (max-width: 480px), (min-resolution: 270dpi) {
  /* line 17, ../sass/header.sass */
  header .logo {
    width: 100%;
    text-align: center;
    margin-bottom: 0.5em;
    order: 1;
  }
}
/* line 23, ../sass/header.sass */
header .logo img {
  max-width: 100px;
  filter: drop-shadow(5px 4px 3px rgba(0, 0, 0, 0.65));
}
/* line 26, ../sass/header.sass */
header .login {
  background: rgba(255, 255, 255, 0.85);
  padding: 0.3em 0.5em;
  border-radius: 3px;
  color: #555;
  transition: all ease-out 0.2s;
}
/* line 32, ../sass/header.sass */
header .login a {
  text-decoration: none;
  color: #424242;
}
/* line 35, ../sass/header.sass */
header .login a:hover {
  text-decoration: underline;
}
/* line 37, ../sass/header.sass */
header .login:hover {
  background: none;
}
@media screen and (max-width: 480px), (min-resolution: 270dpi) {
  /* line 26, ../sass/header.sass */
  header .login {
    order: 3;
  }
}
@media screen and (max-width: 480px), (min-resolution: 270dpi) {
  /* line 1, ../sass/header.sass */
  header {
    flex-wrap: wrap;
  }
}

/* line 1, ../sass/content.sass */
main {
  background: #fff;
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  padding: 2em;
  filter: drop-shadow(4px 5px 6px rgba(0, 0, 0, 0.2));
}
/* line 8, ../sass/content.sass */
main .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}

/* line 14, ../sass/content.sass */
.wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* line 19, ../sass/content.sass */
.pizza {
  background: #efefef;
  width: 100%;
  max-width: 300px;
  margin: 0em 1em 2em 0em;
  padding: 1.5em 1em 1.5em 1em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
}
@media screen and (max-width: 1024px), (min-resolution: 270dpi) {
  /* line 19, ../sass/content.sass */
  .pizza {
    max-width: 350px;
    margin: 0 0 1em 0;
  }
}
@media screen and (max-width: 800px), (min-resolution: 270dpi) {
  /* line 19, ../sass/content.sass */
  .pizza {
    max-width: 500px;
    padding: 1em;
  }
}
/* line 36, ../sass/content.sass */
.pizza .absolute {
  position: absolute;
  width: 100px;
  top: -15px;
  right: -25px;
}
@media screen and (max-width: 800px), (min-resolution: 270dpi) {
  /* line 36, ../sass/content.sass */
  .pizza .absolute {
    display: none;
  }
}
/* line 43, ../sass/content.sass */
.pizza__image {
  background: #fff;
  width: 100%;
  max-width: 250px;
  min-height: 250px;
  overflow: hidden;
}
@media screen and (max-width: 1024px), (min-resolution: 270dpi) {
  /* line 43, ../sass/content.sass */
  .pizza__image {
    max-width: 300px;
  }
}
@media screen and (max-width: 800px), (min-resolution: 270dpi) {
  /* line 43, ../sass/content.sass */
  .pizza__image {
    max-width: 450px;
    min-height: auto;
  }
}
/* line 54, ../sass/content.sass */
.pizza__image img {
  width: 100%;
  height: 100%;
  filter: contrast(150%) sepia(60%) hue-rotate(10deg);
  transition: all ease-out 0.2s;
}
/* line 59, ../sass/content.sass */
.pizza__image img:hover {
  filter: none;
  transform: scale(1.15);
}
@media screen and (max-width: 1024px), (min-resolution: 270dpi) {
  /* line 54, ../sass/content.sass */
  .pizza__image img {
    filter: none;
  }
}
/* line 64, ../sass/content.sass */
.pizza__text {
  background: #fff;
  width: 100%;
  max-width: 250px;
  padding: 0.5em;
  margin-top: 0.5em;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
@media screen and (max-width: 1024px), (min-resolution: 270dpi) {
  /* line 64, ../sass/content.sass */
  .pizza__text {
    max-width: 300px;
  }
}
@media screen and (max-width: 800px), (min-resolution: 270dpi) {
  /* line 64, ../sass/content.sass */
  .pizza__text {
    max-width: 450px;
  }
}
/* line 75, ../sass/content.sass */
.pizza__text div {
  display: flex;
  justify-content: space-between;
}
/* line 78, ../sass/content.sass */
.pizza__text div:nth-child(2) {
  margin-top: 0.5em;
}

/* line 1, ../sass/footer.sass */
footer {
  padding: 2em 1em;
  background: #24292e;
  width: 100%;
  color: rgba(255, 255, 255, 0.75);
  font-size: 90%;
}
/* line 7, ../sass/footer.sass */
footer .container {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* line 14, ../sass/footer.sass */
footer a {
  color: #ffffff;
  text-decoration: none;
}
/* line 17, ../sass/footer.sass */
footer a:hover {
  text-decoration: underline;
  color: #d2d2d2;
}
@media screen and (max-width: 800px), (min-resolution: 270dpi) {
  /* line 21, ../sass/footer.sass */
  footer span:nth-child(2) {
    margin-top: 1em;
  }
}
@media screen and (max-width: 800px), (min-resolution: 270dpi) {
  /* line 1, ../sass/footer.sass */
  footer {
    flex-direction: column;
  }
}

/* line 1, ../sass/buttons.sass */
.button {
  padding: 1em 2em;
  text-transform: uppercase;
  font-weight: 700;
  background: none;
  border: none;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  position: relative;
}
/* line 11, ../sass/buttons.sass */
.button i {
  margin: 0 0.5em 0 0;
}
/* line 13, ../sass/buttons.sass */
.button:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
/* line 15, ../sass/buttons.sass */
.button--stripe {
  overflow: hidden;
  color: #fff;
}
/* line 18, ../sass/buttons.sass */
.button--stripe::before {
  background: linear-gradient(to right, #067500 0%, #067500 50%, #034000 50%, #034000 100%);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  z-index: -2;
  transition: 0.3s ease-in-out;
}
/* line 28, ../sass/buttons.sass */
.button--stripe::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 80px 80px;
  border-color: transparent transparent #034000 transparent;
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
/* line 40, ../sass/buttons.sass */
.button--stripe:hover {
  color: #fff;
}
/* line 42, ../sass/buttons.sass */
.button--stripe:hover::before {
  border-top-color: #1a70ff;
  border-right-color: #1a70ff;
  margin-left: -100%;
  transition: 0.3s ease-in-out;
  width: 200%;
  height: 100%;
}
/* line 49, ../sass/buttons.sass */
.button--stripe:hover::after {
  right: 100%;
  transition: 0.3s ease-in-out;
  width: 0;
  height: 0;
}
